@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    box-sizing: border-box;
}

body {
    background: hsla(236, 72%, 79%, 0.3);
    font-family: 'Montserrat', sans-serif;
}

main {
    display: grid;
    place-content: center;
    text-align: center;
}

header.title {
    font-size: 26px;
    color: hsla(233, 13%, 49%, 1);
    margin-top: 70px;
}

span.rgt {
    text-align: right;
}

span.lft {
    text-align: left;
}

header.header {
    margin-top: 10px;
    padding-bottom: 40px;
    color: hsla(233, 13%, 49%, 1);
}

aside.data-plans {
    display: grid;
    color: hsla(234, 14%, 74%, 1);
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 15px;
    margin-top: 45px;
    margin-bottom: 80px;
}

section.cards {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 30px;
    margin-bottom: 70px;
}

div.cards {
    display: grid;
    width: 335px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    background-color: hsl(240, 78%, 98%);

}

div.price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    color: hsl(232, 13%, 33%);
}

article.card-details {
    margin-top: 20px;
}

p.data-plan {
    font-size: 15px;
    color: hsla(233, 13%, 49%, 1);
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px outset hsl(234, 14%, 74%);
}

p.data-plan:last-child {
    border-bottom: 1px inset hsl(234, 14%, 74%);
}

span.currency {
    font-size: 40px;
    padding-right: 5px;
}

h1 {
    font-size: 75px;
}

button.learn-more {
    display: grid;
    place-items: center;
    border-radius: 5px;
    border: none;
    width: 271px;
    height: 44px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: hsl(240, 78%, 98%);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: linear-gradient(45deg,hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

footer {
    background-color: hsl(240, 78%, 98%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}